<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    <div class="jumbotron">
        <h1 class="center">Walkabout Shoes</h1>
    </div>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
        {% if brands is not empty %}
            <p>Here are all your brands:</p>
            <ul>
                {% for brand in brands %}
                    <li><a href="/brands/{{ brand.getId }}">{{ brand.getDescription }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

    <form action='/brands' method='post'>
        <label for='name'>Brand name:</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add brand</button>
    </form>

    <form action='/delete_brands' method='post'>
        <button type='submit'>Clear Brands</button>
    </form>
    </div>
</body>
</html>
