<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    <div class="jumbotron">
        <h1 class="center">Walkabout Shoes</h1>
    </div>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
        <h2>Find Some Shoes</h2>

        <h3><a href="/categories">Add or view a Store</a></h3>
        <h3><a href="/tasks">Add or view a Brand</a></h3>
    </div>
</body>
</html>
