<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    <div class="jumbotron">
        <h1 class="center">Walkabout Shoes</h1>
    </div>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
    {% if stores is not empty %}
    <h4 class="well">Here are all your stores:</h4>
    <ul>
        {% for store in stores %}
            <li><a href="/stores/{{ store.getId }}">{{ store.getName }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h4 class="well">Lets Add Some Stores</h4>
    {% endif %}

    <form action='/stores' method='post'>
        <label for='name'>Store name</label>
        <input id='name' name='name' type='text'>

        <button class="btn btn-success" type='submit'>Add store</button>
    </form>
    <form action='/delete_stores' method='post'>
        <button class="btn btn-danger" type='submit'>Clear Stores</button>
    </form>
    </div>
</body>
</html>
